{% extends 'dbms/main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
<div class="container" style="width:100%">
        <!-- <github-card data-user="23subbhashit" ></github-card> -->
        <main class="main">
	<div class="wrapper">
		<div class="card">
			<div class="title">
				<h1 class="title title-large">Sign In</h1>
				<p class="title title-subs">New user? <span><a href="{% url 'register' %}" class="linktext">Create an account</a></span></p>
			</div>
			<form class="form" method="post" actions="{% url 'login' %}">
            {% csrf_token %}
				<div class="form-group">
					<input type="text" name="username" id="username" class="input-field" placeholder="Username">
				</div>
				<div class="form-group">
					<input type="email" name="email" id="email" class="input-field" placeholder="Email">
				</div>
				<div class="form-group">
					<input type="password" name="password" id="password" class="input-field" placeholder="Password">
				</div>
				
				<div class="form-group">
					<a href="{% url 'register' %}" class="linktext">Forgot Password</a>
					<input type="submit" name="submit" class="input-submit" value="Login">
                    <input type="hidden" name="next" value="{{ next }}"/>
				</div>
			</form>
			
			
		</div>
	</div>

        <!-- Ui cards -->
        
        <!-- /Ui cards -->
   
    </div>

{% endblock content %}