{% extends 'dbms/main.html' %}
{% load static %}
{% block content %}
<form method="post" actions="{% url 'city' %}">
        {% csrf_token %}
        <label>Name</label><br/>
        <input type="text" name="name" ><br/>
        <label>USN</label><br/>
        <input type="text" name="address"><br/>
        <label>PhoneNumber</label><br/>
        <input type="text" name="phonenumber" ><br/>
        <br/>
        <label>Address</label><br/>
        <input type="text" name="usn"><br/>

        

        <input type="submit" value="Submit">
</form>
{% endblock content %}