{% extends 'dbms/main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cityform.css' %}">
<div class="cityformpage">
        <section class="login-panel">
  <div class="left-side"></div>
  <div class="right-side">
    <h1>Form</h1>
    <p>Register Your Information here</p>
    <form method="post" actions="{% url 'city' %}">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Name" >
        <input type="text" name="address" placeholder="Address">
        <input type="text" name="phonenumber" placeholder="PhoneNumber">
        <input type="text" name="usn" placeholder="USN">
        <input type="submit" value="Submit" class="submit-btn">
</form>
   
  </div>
</section>
</div>

{% endblock content %}