{% load static %}
<html>
  <head>
    <title>Chatbot Widget</title>

    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="utf-8" http-equiv="encoding" />

   
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:500&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />

    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0="
      crossorigin="anonymous"
    />

    
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/materialize.min.css' %}"
    />

    
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div class="container">
      
      <div id="modal1" class="modal">
        <canvas id="modal-chart"></canvas>
      </div>

      
      <div class="widget">
        <div class="chat_header">
          
          <span class="chat_header_title">FAQ</span>
          <span class="dropdown-trigger" href="#" data-target="dropdown1">
            <i class="material-icons"> more_vert </i>
          </span>

          
          <ul id="dropdown1" class="dropdown-content">
            <li><a href="#" id="clear">Clear</a></li>
            <li><a href="#" id="restart">Restart</a></li>
            <li><a href="#" id="close">Close</a></li>
          </ul>
        </div>

        
        <div class="chats" id="chats">
          <div class="clearfix"></div>
        </div>

        
        <div class="keypad">
          <textarea
            id="userInput"
            placeholder="Type a message..."
            class="usrInput"
          ></textarea>
          <div id="sendButton">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
          </div>
        </div>
      </div>

      
      <div class="profile_div" id="profile_div">
        <img class="imgProfile" src="{% static 'images/botAvatar.png' %}" />
      </div>

     
      <div class="tap-target" data-target="profile_div">
        <div class="tap-target-content">
          <h5 class="white-text">Hey there 👋</h5>
          <p class="white-text">
            I can help you get started with Rasa and answer your technical
            questions.
          </p>
        </div>
      </div>
    </div>

    
  
  
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/materialize.min.js' %}"></script>
  <script src="{% static 'js/uuidv4.min.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <script src="{% static 'js/chart.min.js' %}"></script>
  </body>
</html>
