
<style>
.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  
  justify-content: center;
  align-items: center;
}

.screen {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  width: 375px;
  height: 667px;
  
  border: 4px solid #7a7a7a;
  border-radius: 32px;
  background-color: #F5F5F5;
  box-shadow: 2px 8px 32px rgba(0,0,0,0.50);
}

.clouds{
	position: relative;
  bottom: -155px;
	width: 243px;
	height: 172px;
	opacity: 0;
	animation: clouds 1s .8s ease-in forwards;
}

.plane {
	position: relative;
	width: 139px;
	height: 139px;
	opacity: 0;
	animation: plane-start .8s .8s ease-out, plane-loop 1.6s 1.6s linear infinite;

}

.message {
	margin-top: 72px;
  font-family: Rubik;
  font-size: 16px;
  color: #292929;
	letter-spacing: 1px;
  animation: message .3s 1.6s ease-in-out backwards;
}

.button{
  margin: 80px;
  padding: 16px 80px;
  
  background: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.16);
  border-radius: 24px;
  font-family: Rubik-Medium;
  font-size: 16px;
  color: #7A7A7A;
  letter-spacing: -0.05px;
  text-align: center;
}

@keyframes plane-start{ 
	0% { transform: translate(-80px, 130px) ; }
	50% { opacity:1 }
	100% { transform: translate(0px, 0); opacity:1  }
}

@keyframes plane-loop {
	0% { transform: translate(0px, 0); opacity:1  }
	50% { transform: translate(-20px, 30px); opacity:1  }
	100% { transform: translate(0px, 0); opacity:1  }
}

 @keyframes clouds{
   from { opacity: 0 }
   to { opacity: 1 }
}

@keyframes message{ 
	from { opacity: 0 }
	to { opacity: 1 }
}
</style>



<h1>Password reset complete</h1>
<p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>
