{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">

<style>
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
  font-family: "El Messiri", sans-serif;
}

body {
  background: #031323;
  overflow: hidden;
}

img {
  width: 32px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.box {
  position: relative;
}
.box .square {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  animation: square 10s linear infinite;
  animation-delay: calc(-1s * var(--i));
}
@keyframes square {
  0%, 100% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
}
.box .square:nth-child(1) {
  width: 100px;
  height: 100px;
  top: -15px;
  right: -45px;
}
.box .square:nth-child(2) {
  width: 150px;
  height: 150px;
  top: 105px;
  left: -125px;
  z-index: 2;
}
.box .square:nth-child(3) {
  width: 60px;
  height: 60px;
  bottom: 85px;
  right: -45px;
  z-index: 2;
}
.box .square:nth-child(4) {
  width: 50px;
  height: 50px;
  bottom: 35px;
  left: -95px;
}
.box .square:nth-child(5) {
  width: 50px;
  height: 50px;
  top: -15px;
  left: -25px;
}
.box .square:nth-child(6) {
  width: 85px;
  height: 85px;
  top: 165px;
  right: -155px;
  z-index: 2;
}

.container {
  position: relative;
  padding: 50px;
  width: 260px;
  min-height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
}

.container::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border-radius: 5px;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 2%);
}


</style>

<section id="waves">
  
  <div class="box">
    
    <div class="square" style="--i:0;"></div>
    <div class="square" style="--i:1;"></div>
    <div class="square" style="--i:2;"></div>
    <div class="square" style="--i:3;"></div>
    <div class="square" style="--i:4;"></div>
    <div class="square" style="--i:5;"></div>
    
   <div class="container"> 
    <div class="form"> 
      
      <form method="post">
        
        <!-- <github-card data-user="23subbhashit" ></github-card> -->
        <main class="main">
	<div class="wrapper">
		<div class="card">
			<div class="title">
				<h1 class="title title-large">Reset</h1>
				
			</div>
			<form class="form" method="post" actions="{% url 'login' %}">
            {% csrf_token %}
				<div class="form-group">
					<input type="password" name="new_password1" autocomplete="new-password" class="input-field" required="" id="id_new_password1" placeholder="New Password">
				</div>
				
				<div class="form-group">
					<input type="password" name="new_password2" autocomplete="new-password" class="input-field" required="" id="id_new_password2" placeholder="Confirm Password">
				</div>
				
				<div class="form-group justify-content-center">
					
          <input type="submit" class="input-submit" value="Change my password">
				</div>
			</form>
			
			
		</div>
	</div>

        <!-- Ui cards -->
        
        <!-- /Ui cards -->
   
    </div>
      </form>
      
    </div> 
  </div>
    
  </div>
</section>
 
{% comment %} <h1>Set a new password!</h1>
<form method="POST">
  {% csrf_token %}
  
  <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
  <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
  <input type="submit" value="Change my password">
</form>  {% endcomment %}




<script>

VANTA.WAVES({
  el: "#waves",
  mouseControls: true,
  touchControls: true,
  gyroControls: false,
  minHeight: 200.00,
  minWidth: 200.00,
  scale: 1.00,
  scaleMobile: 1.00,
  color: 0x6437a,
  shininess: 35.00,
  waveHeight: 14.00,
  waveSpeed: 0.70,
  zoom: 0.88
});


function show_hide_password(target){
	let input = document.getElementById('password-input');
	if (input.getAttribute('type') == 'password') {
		target.classList.add('view');
		input.setAttribute('type', 'text');
	} else {
		target.classList.remove('view');
		input.setAttribute('type', 'password');
	}
	return false;
}
</script>
