{% extends 'dbms/main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
<div class="container" style="width:100%">
        <!-- <github-card data-user="23subbhashit" ></github-card> -->
        <main class="main">
	<div class="wrapper">
		<div class="card">
			<div class="title">
				<h1 class="title title-large text-center">Password Reset</h1>
				<p class="title title-subs"><p class="title title-subs"><span><a href="https://accounts.google.com/b/0/DisplayUnlockCaptcha" class="linktext">Enable Captcha</a></span></p></p>
				<p class="title title-subs"><p class="title title-subs"><span><a href="https://myaccount.google.com/lesssecureapps" class="linktext">Allow SMTP</a></span></p></p>
			</div>
			<form class="form" method="post">
            {% csrf_token %}
				
				<div class="form-group">
					<input type="email" name="email" autocomplete="email" class="input-field" maxlength="254" required="" id="id_email" placeholder="Email">
				</div>
				
        <div class="form-group justify-content-center">
					<input type="submit" class="input-submit"  value="Instructions!">
				</div>
			</form>
			
			
			
		</div>
	</div>

        <!-- Ui cards -->
        
        <!-- /Ui cards -->
   
    </div>

{% endblock content %}