.wrapper {
    max-width: 28rem;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 1.5rem;
  }
  .card {
    padding: 1.5rem 2rem;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #252a32;
    background: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  }
  
  .icons {
    font-size: 1.45rem;
    line-height: inherit;
    margin-right: 0.5rem;
    border: none;
    outline: none;
    background: none;
  }
  .icons-google {
    color: #d32f2f;
  }
  .icons-facebook {
    color: #0f698a;
  }
  .icons-apple {
    color: #252a32;
  }
  
  .linktext {
    font-family: inherit;
    font-size: 0.95rem;
    line-height: inherit;
    color: #148cb8;
    text-rendering: optimizeLegibility;
  }
  .linktext:hover {
    text-decoration: underline;
  }
  
  .title {
    font-family: inherit;
    line-height: inherit;
    text-rendering: optimizeLegibility;
  }
  .title-large {
    font-size: 2rem;
    font-weight: 600;
    color: #252a32;
  }
  .title-subs {
    font-size: 0.95rem;
    font-weight: 400;
    line-height: inherit;
  }
  
  .main .wrapper .form {
    width: 100%;
    height: auto;
    margin: 2rem 0;
  }
  .main .wrapper .form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  .main .wrapper .form-group .input-field {
    font-family: inherit;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: inherit;
    width: 100%;
    height: auto;
    padding: 0.75rem 1.25rem;
    border: none;
    outline: none;
    border-radius: 2rem;
    color: #252a32;
    background: #f1f5f8;
  }
  .main .wrapper .form-group .input-submit {
    font-family: inherit;
    font-size: 0.95rem;
    font-weight: 500;
    line-height: inherit;
    cursor: pointer;
    padding: 0.65rem 2rem;
    border: none;
    outline: none;
    border-radius: 2rem;
    text-align: center;
    color: #ffffff;
    background: #148cb8;
  }
  .main .wrapper .line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  .main .wrapper .line-bar {
    flex: auto;
    flex-basis: auto;
    border: none;
    outline: none;
    height: 1.3px;
    background: #bed1df;
  }
  .main .wrapper .line-text {
    font-weight: 500;
    color: #252a32;
    padding: 0 1rem;
  }
  .main .wrapper .method-item {
    margin-bottom: 0.5rem;
  }
  .main .wrapper .method-item .btn-action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-size: 0.95rem;
    font-weight: 500;
    line-height: inherit;
    padding: 0.2rem 1rem;
    width: 100%;
    height: auto;
    outline: none;
    border: 1.3px solid #bed1df;
    border-radius: 2rem;
    color: #252a32;
    background: #ffffff;
    transition: all 0.35s ease;
  }
  .main .wrapper .method-item .btn-action:hover {
    background: #cfdde7;
  }